{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row">
    <div class="col-md-12">

        <h2> Edit Menu Item </h2>

        <form action="{{ url_for('editMenuItem', id = id, item_id=item_id)}}" method='POST'>

            <p>Name:</p>
            <label for="name">Name: </label>
            <input id='name' type='text' size='30' name='editname' placeholder="{{editItem.name}}">

            <label for="description">Description: </label>
            <input id='description' type='text' size='30' name='editdescription' placeholder="{{editItem.description}}">
            <input type="text" name="editcategory" value="" placeholder="{{editItem.catalog.name}}">

            <input type='submit' value='Edit'>
            <span id="cancel"><a href="{{url_for('showItems', id=id)}}">Cancel</a></span>

        </form>
    </div>
</div>
{% endblock %}
