<div class="row top-menu">
    <div class="col-md-6">
        <a href="{{url_for('shoCategory')}}">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Show All Categories
        </a>
    </div>
    <div class="col-md-6 text-right">
        <!-- <p>Login Link will go Here </p> -->
        {% if 'username' not in session %}
        <a href="{{url_for('showLogin')}}">Login</a> {% else %}
        <a href="{{url_for('gdisconnect')}}">Logout</a> {% endif %}

    </div>
</div>
<span class='loading loading-spinner-tiny inline-block'></span>
