{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row">
    <div class="col-md-12">
        <h2>Add New Item</h2>

        <form action="{{url_for('newMenuItem', id=id)}}" method="POST">

            <label for="name">name: </label>
            <input id='name' type='text' size='30' name='name'><br>
            <label for="description">description: </label>
            <input id="description" type='text' size='30' name='description'>

            <input type='submit' value='Create'>
            <span id="cancel"><a href="{{url_for('shoCategory')}}">cancel</a></span>

        </form>
    </div>
</div>
{% endblock %}
