{% extends "main.html" %} {% block content %} {% include "header.html" %}
<div class="row">
    <div class="col-md-12">
        <h2>{{items.name}}</h2>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Downloads
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{url_for('downloadItemxml', id=id, item_id=items.id)}}">XML</a>
                <a class="dropdown-item" href="{{url_for('Itemjson', id=id, item_id=items.id)}}">JSON</a>
            </div>
        </div>
        <p>Category: {{categories.name}}</p>
        <p>Item: {{items.name}}</p>
        <p>Description: {{items.description}}</p>
    </div>
</div>
{% endblock %}
